__pycache__/
*.py[cod]
*.egg-info/
.venv/
.uv_cache/
dist/
.DS_Store

# Data (behalve demo)
data/01-raw/*
!data/01-raw/demo/
data/02-prepared/*
!data/02-prepared/demo/
data/03-output/*
!data/03-output/demo/
